<%= form_with model: [post, comment], url: post_comments_path(post, anchor: "form"), id: "form" do |f| %>
  <h3>コメント</h3>
  <%= render "layouts/error", error: comment %>
  <div class="form-group mb-1">
    <%= f.text_area :comment , rows: "3", placeholder: "200文字以内", class: "form-control" %>
  </div>
  <div class="form-group text-right">
    <%= f.submit "送信", class: "btn btn-md btn-success px-5" %>
  </div>
<% end %>
<div>
  <div><i class="fa-regular fa-comment"></i> <%= post.comments.count %>件のコメント</div>
  <% post.comments.each do |post_comment| %>
    <div class="d-flex flex-column border my-2 py-2 bg-light shadow-sm">
      <div class="d-flex justify-content-between align-items-center mx-2 mb-2">
        <div style="font-size: 14px;">
          <% if post_comment.user == post.user %>
            <span class="d-block text-danger" style="font-size: 10px;">投稿者</span>
          <% end %>
          <div class="text-wrap text-break">
            <%= link_to user_path(post_comment.user), class: "text-info" do %>
              <i class="fa-solid fa-user"></i> <%= post_comment.user.name %>
            <% end %>
          </div>
        </div>
        <% if post_comment.user_id == current_user.id || post.user == current_user %>
          <%= link_to post_comment_path(post, post_comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class: "text-nowrap text-danger" do %>
            <i class="fa-solid fa-trash-can fa-lg ml-1"></i>
          <% end %>
        <% end %>
      </div>
      <div class="mx-2 p-2 bg-white border rounded"><%= simple_format(post_comment.comment, class: "mb-0 text-break") %></div>
    </div>
  <% end %>
</div>