<h2>プロフィール編集</h2>

<%= render "layouts/error", error: @user %>

<%= form_with model: @user do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.submit "確定" %>
  </div>
<% end %>