<div class="w-100 text-center">
  <% if @user == current_user %>
    <h2>マイページ</h2>
  <% else %>
    <h2><%= @user.name %>のページ</h2>
  <% end %>
</div>
<div class="w-100 row mx-auto">
  <div class="col-sm-3 text-center mb-5 position-relative">
    <div class="sticky-top">
      <h2>プロフィール</h2>
      <table class="table table-bordered">
        <thead class="thead-light">
          <th>ユーザ名</th>
        </thead>
        <tbody>
          <tr><td><%= @user.name %></td></tr>
          <% if @user == current_user %>
            <tr>
              <td>
                <%= link_to edit_user_path(@user), class: "d-block btn btn-outline-secondary" do %>
                  <span><i class="fa-solid fa-user-pen"></i>編集</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <thead class="thead-light">
          <th>総投稿数</th>
        </thead>
        <tbody>
          <td><%= @user.posts.count %>件</td>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-9">
    <h2 class="text-center">投稿</h2>
    <%= render "posts/post", posts: @posts %>
  </div>
</div>