<h2>投稿内容</h2>

<div>
  <div>
    <%= @post.title %>
  </div>
  <div>
    <%= image_tag @post.get_vision_image(200, 200) %>
  </div>
  <div>
    <h3>Tags</h3>
    <ul>
      <% @post.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "編集（タイトル名のみ）", edit_post_path(@post) %>

<%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>